/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h1 {
    padding: 20px 0;
    font-size: 46px;
    background-color: darkgoldenrod;
}